<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Contracts.TestService" behaviorConfiguration="myBehavior">
        <endpoint name="myQueue" 
                  address="wcfQueue" 
                  binding="netMsmqBinding" 
                  bindingConfiguration="myMSMQ" 
                  contract="Contracts.ITestContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/"/>
            <!--Both Mex and HttpBinding uses http://localhost:8888 port-->
            <add baseAddress="http://localhost:32578"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <!--The property exactlyOnce=false means that i am using non transactional queue. The property is by default true.-->
      <netMsmqBinding>
        <binding name="myMSMQ" exactlyOnce="false" >       
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--This is for enabling an exception-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>